#DVB remove ca1, simlink ca0->ca1
KERNEL=="dvb0.ca1", ACTION=="add", RUN+="/bin/rm /dev/dvb/adapter0/ca1", RUN+="/bin/ln -s ca0 /dev/dvb/adapter0/ca1"
