wpa_supplicant-*
rfkill-*
*_openpli-git
Twisted-*
elementtree-*
expat-*
fontconfig-*
fribidi-*
jfsutils-*
libsigc++-*
libtool-*
libxml2-*
libxmlccwrap-*
libxslt-*
lxml-*
pyOpenSSL-*
python-*
readline-*
setuptools-*
zope.interface-*
e2fsprogs-*
sqlite-*
glib-*
gst-plugins-*
gstreamer-*
libogg-*
libsoup-*
boost_*
mc-*
lirc-*
libusb-*
libsoup-*
libogg-*
gstreamer-*
gst-*
graphlcd-*
glib-*
flac-*
alsa-*
DirectFB-*
freetype-*
busybox-*
libpng-*
rtmpdump-*
!*.diff
!*.patch
rtmpdump-*
*.pyc
packagingtmpdir
busybox-*
ipkg-host
ipkg-utils-*
libpng-*
ipkgbuild
ppp-*
vsftpd-*
libcap-*
autofs-*
hotplug*
libdreamdvd*
libdvbsi*
tuxtxt*
Cheetah-*
e2openplugin-OpenWebif
sdparm-*
tmpname
host-python-*
openpli-plugins-enigma2
jpeg-*
enigma2-networkbrowser
host-python-*
xupnpd-*
udpxy-*
libtuxtxt
ruledir
opkg-host
bb.pyo
split_packages.pyo
usb-modeswitch*
modem-scripts-*
init-scripts-*
grab-*