Twisted-*
elementtree-*
expat-*
fontconfig-*
fribidi-*
jfsutils-*
libsigc++-*
libtool-*
libxml2-*
libxmlccwrap-*
libxslt-*
lxml-*
pyOpenSSL-*
python-*
readline-*
setuptools-*
zope.interface-*
e2fsprogs-*
sqlite-*
glib-*
gst-plugins-*
gstreamer-*
libogg-*
libsoup-*
boost_*
mc-*
lirc-*
libusb-*
libsoup-*
libogg-*
gstreamer-*
gst-*
graphlcd-*
glib-*
flac-*
alsa-*
DirectFB-*
freetype-*
!*.diff
!*.patch
rtmpdump-*
*.pyc
packagingtmpdir
busybox-*
ipkg-host
ipkg-utils-*
libpng-*
ipkgbuild
ppp-*